* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --orange-color: #da722c;
    --dark-blue-color: #023047;
    --dark-color: #070917;
    --light-color: #e8f7fb;
    --light-blue-color: #6f7dfb;
    --primary-font-family: "Poppins", sans-serif;
    --secondary-font-family: "Raleway", sans-serif;
}

/* Utility Class  */

body {
    font-family: var(--primary-font-family);
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h2 {
    color: var(--dark-blue-color);
    font-family: var(--secondary-font-family);
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    margin: 0;
    /* 72px */
}

section p {
    color: var(--dark-blue-color);
    font-family: var(--primary-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 200%;
    margin: 12px 0;
}

.btn {
    border-radius: 24px;
    display: inline-block;
    padding: 16px 32px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.light {
    background-color: var(--orange-color);
}

.text-light {
    color: var(--light-color);
}

.dark {
    background-color: var(--dark-blue-color);
}

.icon-btn::before {
    content: url('../img/Vector.svg');
    vertical-align: middle;
    margin-right: 10px;
}

.wrapper {
    max-width: 1134px;
    margin: 0 auto;
}

/*
=========================================
    Custom Scrollbar
=========================================
*/

::-webkit-scrollbar {
    width: 0.725rem;
}

::-webkit-scrollbar-track {
    background: var(--light-color);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #6F7DFB 100%, #26308C 0%);
}

/* Header  */
header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #6F7DFB 0%, #26308C 100%);
    padding-top: 60px;
}

/* nabar  */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 1134px;
    top: 36px;
    z-index: 100;

}

.navbar .logo {
    color: #FFF;
    font-family: var(--secondary-font-family);
    font-size: 40px;
    font-weight: 900;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.navbar ul li a {
    color: var(--light-color);
    font-size: 16px;
    font-weight: 700;
}

/* hero-section */
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: var(--light-color);
    position: relative;
}

.hero-section .left {
    width: 40%;
}

.hero-section .left h1 {
    font-family: var(--secondary-font-family);
    font-size: 50px;
    font-weight: 900;
    line-height: 125%;
    margin-bottom: 30px;
    /* 62.5px */
}

.hero-section .left p {
    font-family: var(--primary-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 200%;
    margin-bottom: 30px;

    /* 32px */
}


.hero-section .right img {
    height: 530px;
}

/* achievement-cards */
/* .achievement-cards {
    display: block;
} */
.achievement-card {
    position: absolute;
    top: 30px;
    width: 206px;
    height: 90px;

}

.achievement-card .content {
    position: relative;
    z-index: 12;
    background-color: #ffff;
    border-radius: 24px;
    text-align: center;
    color: var (--dark-blue-color);
    padding: 8px 32px;
}

.achievement-card h3 {
    font-size: 36px;
    font-weight: 700;
    line-height: 125%;
    color: var(--dark-blue-color);
    /* 45px */
}

.achievement-card p {
    color: var(--dark-blue-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    /* 20px */
}

.achievement-card .bg {
    position: absolute;
    top: 0;
    left: 10px;
    border-radius: 24px;
    background: linear-gradient(180deg, #6F7DFB 0%, #3B448F 100%);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.achievement-cards .students-enrolled {
    left: 47%;
    top: 230px;
}

.achievement-cards .overall-Rating {
    left: 45%;
    top: 500px;
}

.overall-Rating .content .info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

}

/* testimonial-section */
.testimonial-section {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 102px;
    position: relative;
}

.testimonial-section .right a {
    margin-top: 30px;
}

.testimonial-section .left .testimonial-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
    width: 442px;
    height: 222px;
    border-radius: 24px;
    background: var(--light-color);
    box-shadow: 0px 9px 36px 0px rgba(0, 0, 0, 0.20);
    font-family: var(--secondary-font-family);
    position: relative;
}

.testimonial-section .testimonial-card .content {
    padding: 24px 32px;
    border-radius: 24px;
    background: var(--light-blue-color);
    color: #FFF;
    font-size: 18px;
    font-weight: 900;
    line-height: 150%;
    width: 100%;
}

.bg-orange {
    background-color: var(--orange-color) !important;
}

.testimonial-section .testimonial-card .info {
    padding: 0px 32px;

}

.testimonial-section .testimonial-card .info h4 {
    color: var(--dark-blue-color);
    font-family: var(--secondary-font-family);
    font-size: 24px;
    font-weight: 900;
    line-height: 120%;
    /* 28.8px */

}

.testimonial-section .testimonial-card .info p {
    margin: 0;
}

.testimonial-section .testimonial-card img {
    position: absolute;
    right: 32px;
    bottom: 20px;
    width: 120px;
    height: 120px;
}

.testimonial-section .left .testimonial-card:last-child {
    transform: translateX(30px);
}

.testimonial-section .left .progressline {
    width: 28px;
    height: 546px;
    border-radius: 24px;
    background: var(--dark-blue-color);
    position: absolute;
    z-index: -1;
    top: -25px;
    left: 83px;
}

.course-section {
    background: linear-gradient(180deg, #6F7DFB 0%, #26308C 100%);
    padding-block: 40px;
    text-align: center;
}

.course-section h2 {
    margin: 30px 0;
}

.course-section .course-cards-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 83px;
    margin-bottom: 30px;
}

.course-cards {
    padding: 0px 32px;
    /* width: 526px; */
    border-radius: 24px;
    background: var(--light-color);
}

.course-cards .info {
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    width: 100%;
    margin-bottom: 30px;
}

.course-cards .info h3 {
    color: var(--dark-blue-color);
    font-family: var(--secondary-font-family);
    font-size: 20px;
    font-weight: 900;
    line-height: 150%;
    /* 45px */
}

.course-cards-container .course-cards .bottom-line {
    height: 8px;
    border-radius: 24px;
    background: var(--dark-blue-color);
}

/* app-section */
.app-section {
    text-align: center;
    padding-block: 40px;
}

.app-section .app-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 45px;
    gap: 30px;
    color: var(--light-color);
}

.app-section .app-buttons .app-btn {
    display: flex;
    background: var(--dark-color);
    padding: 16px 31px;
    align-items: center;
    gap: 14px;
    min-width: 310px;
}

/* footer */
footer {
    background: var(--dark-color);
    color: var(--light-color);
    padding-block: 40px;
}

footer .links-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 32px;
}


footer .links-container .links h3 {
    color: var(--orange-color);
    margin-bottom: 10px;
}

footer .links-container .links ul li a {
    color: var(--light-color) !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 200%;
    transform: translateX(10px);
}

footer .links-container .links ul,
.social,
form {
    padding-left: 20px;
}

footer .links-container .links .social a img {
    width: 24px;
    height: 24px;
    margin: 10px 15px 10px 0px;
}

footer .links-container .links form input[type="email"] {
    border-radius: 8px;
    background-color: var(--light-color);
    padding: 8px 32px;
    outline: none;
    border: none;
    margin-top: 16px;
    width: 100%;
}

footer .links-container .links form .submit-btn{
    background-color: var(--dark-blue-color);
    border-radius: 8px;
    padding: 8px 32px;
    color: var(--light-color);
    border: none;
    margin-top: 10px;
}